@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.1s linear;
   font-family: var(--font-family);
   text-rendering: optimizeSpeed;
}

:root {
   --primary: #b03334;
   --primary-opp: #00507a;
   --black: #4d4d4d;
   --white: #fff;
   --text-color: #2c2c30;
   --font-family: 'Quicksand', sans-serif;
   // Default Layout
   --default-layout-header-height: 80px;
   --default-layout-width: 100%;
   --default-layout-horizontal-spacer: 24px;
   --box-shadow-bottom: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

body {
   font-size: 1.6rem;
   line-height: 1.5;
   color: var(--text-color);
}

//scrollbar css

/* Ẩn thanh cuộn mặc định trên toàn trang */
body::-webkit-scrollbar {
   width: 8px;
   background-color: transparent;
}

/* Ẩn các chỉ mục của thanh cuộn */
body::-webkit-scrollbar-thumb {
   border-radius: 30px;
   background-color: #b9b9b9;
}

/* Định dạng nội dung để có thể cuộn */
body {
   overflow: auto;
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
}
ul {
   list-style: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}

label,
button,
a,
input[type='submit'] {
   -webkit-tap-highlight-color: transparent;
}

::selection {
   background-color: var(--black);
   color: var(--white);
}
