@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   transition: all 0.1s linear;
   font-family: var(--font-family);
   text-rendering: optimizeSpeed;
}

:root {
   --primary: #781f4c;
   --black: #000;
   --white: #fff;
   --text-color: #2c2c30;
   --font-family: 'Quicksand', sans-serif;
   // Default Layout
   --default-layout-header-height: 80px;
   --default-layout-width: 100%;
   --default-layout-horizontal-spacer: 24px;
   --box-shadow-bottom: 0px 5px 10px 3px rgba(0, 0, 0, 0.2);
}
html {
   font-size: 62.5%;
   scroll-behavior: smooth;
}

html body {
   overflow-y: overlay;
}

body {
   font-size: 1.6rem;
   line-height: 1.5;
   color: var(--text-color);
}

//scrollbar css

html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
   padding-left: 5px;
}

html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.26);
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
}
ul {
   list-style: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}

label,
button,
a,
input[type='submit'] {
   -webkit-tap-highlight-color: transparent;
}

::selection {
   background-color: var(--primary);
   color: var(--white);
}
