.wrapper {
   max-width: 1200px;
   min-height: 500px;
   margin: 0 auto;
   padding: 20px 20px;
   display: flex;
   align-items: center;
}

//my-info

.my-info {
   display: flex;
   flex-direction: column;
   margin: 0px 0px 20px;
}
.title {
   font-size: 3rem;
   margin-bottom: 10px;
}
.title-desc {
   padding-right: 10px;
   margin-bottom: 10px;
}
.info {
   padding: 10px 0;
   font-size: 2rem;
   font-weight: 700;
   color: var(--primary);
   cursor: pointer;
   &:hover {
      transform: translateX(10px);
   }
   &.darkmode {
      color: var(--white);
   }
}
.icon {
   margin-right: 10px;
}

// contact-form
.contact-group {
   display: flex;
   align-items: center;
}
.contact-input,
.contact-textarea {
   width: 100%;
   margin: 8px 0;
   padding: 16px;
   border: 2px solid var(--primary);
   border-radius: 5px;
   font-size: 1.6rem;
   font-weight: 600;
   transition: 0.3s all linear;

   &.darkmode {
      color: var(--text-darkmode);
      background-color: #333333;
      border: 2px solid var(--white);
      &::placeholder {
         color: rgb(212, 212, 212);
      }
   }
   &.email {
      margin-right: 8px;
   }
   &.phone {
      margin-left: 8px;
   }
   &::placeholder {
      font-size: 1.4rem;
      font-weight: 600;
   }
   &:focus {
      border-radius: 20px;
   }
}

.contact-textarea {
   min-width: 100%;
   min-height: 140px;
}

.send-btn {
   width: 100%;
   margin: 6px 0;
   padding: 10px;
   border-radius: 5px;
   color: var(--white);
   background-color: var(--primary);
   font-size: 1.6rem;
   font-weight: 700;
   transition: 0.3s all linear;
   &.darkmode {
      color: var(--black);
      background-color: var(--white);
   }
   &:hover {
      border-radius: 30px;
      opacity: 0.85;
      cursor: pointer;
   }
}

.loading {
   font-size: 1.6rem;
   animation: tracking-in-contract 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) infinite alternate both;
   @keyframes tracking-in-contract {
      0% {
         letter-spacing: 1em;
      }
      100% {
         letter-spacing: normal;
      }
   }
}

.alert-message {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 2rem;
   font-weight: 600;
   color: #149614;
}

@media (min-width: 740px) and (max-width: 1023px) {
}

@media (max-width: 739px) {
   .info {
      font-size: 1.6rem;
   }
   .contact-input,
   .contact-textarea {
      &::placeholder {
         font-size: 1.2rem;
      }
   }
}
