.header {
   max-width: 1200px;
   height: var(--default-layout-header-height);
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo-img {
   width: 100px;
   margin: 2px 0 0 20px;
   filter: drop-shadow(0px 3px 3px rgba(0, 0, 0, 0.8));
   cursor: pointer;
}
.toggle-btn {
   display: flex;
}
.darkmode-toggle {
   margin-right: 20px;
}
.language-toggle {
   margin-right: 6px;
}

@media (min-width: 740px) and (max-width: 1023px) {
   .header {
      height: calc(var(--default-layout-header-height) - 10px);
   }
   .logo-img {
      width: 80px;
   }
}

@media (max-width: 739px) {
   .header {
      height: calc(var(--default-layout-header-height) - 30px);
   }
   .logo-img {
      margin-top: 6px;
      width: 60px;
   }
   .toggle-btn {
      display: none;
   }
}
