.header {
   max-width: 1200px;
   height: var(--default-layout-header-height);
   margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: space-between;
}
.logo-img {
   width: 90px;
   margin: 8px 0 0 20px;
   cursor: pointer;
}

@media (min-width: 740px) and (max-width: 1023px) {
   .header {
      height: calc(var(--default-layout-header-height) - 10px);
   }
   .logo-img {
      width: 80px;
   }
}

@media (max-width: 739px) {
   .header {
      height: calc(var(--default-layout-header-height) - 30px);
   }
   .logo-img {
      width: 60px;
   }
}
