.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.2);
   background-color: var(--white);
}

.content {
   max-width: 1200px;
   margin: calc(var(--default-layout-header-height) + 10px) auto;
   min-height: 2000px;
}
.footer {
   max-width: 1200px;
   margin: 0 auto;
}
