.wrapper {
   width: 100%;
   overflow: hidden;
}

.header {
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   box-shadow: var(--box-shadow-bottom);
   background-color: var(--white);
}

.content {
   width: 100%;
   margin: calc(var(--default-layout-header-height) + 20px) auto;
   min-height: 2000px;
}
.footer {
   width: 100%;
   margin: 0 auto;
   padding: 0 10px;
}

@media (min-width: 740px) and (max-width: 1023px) {
   .content {
      margin: calc(var(--default-layout-header-height) + 10px) auto;
   }
}

@media (max-width: 739px) {
   .content {
      margin: calc(var(--default-layout-header-height) - 10px) auto;
   }
}
